<footer>
    <div class="footer_content">
        <h3>EyeAccounts</h3>
        <p>Магазин аккаунтов который продает аккаунты :oooo </p>
        <div class="other">
            <a href="#">API</a>
        </div>
    </div>
</footer>
</body>

</html>