<footer>
    <div class="footer_content">
        <div class="footer_logo">
            <img src="/img/logo.webp" alt="">
            <span>EyeAccounts</span>

        </div>

        <div class="footer_menu">
            <ul>
                <li><a href="/return-policy/">Возврат товара</a></li>
                <li><a href="/privacy-policy/">Пользовательское соглашение</a></li>
                <ul>
        </div>

        <div class="footer_contacts">
            <a class="footer_contacts__item" href="https://t.me/EyeSupportBot"><img src="/img/icons/telegram-icon.png" alt=""><span>@EyeSupportBot</span></a>
            <a class="footer_contacts__item" href="mailto:eyeshopassist@gmail.com"><img src="/img/icons/mail-icon.png" alt=""><span>eyeshopassist@gmail.com</span></a>
        </div>

        <div class="footer_cent">
            <p>Все права защищены. Копирование запрещено!</p>
        </div>

    </div>
</footer>
</body>

</html>