<footer>
    <div class="footer_content">
        <h3>EyeAccounts</h3>
        <div class="footer_menu">
            <ul>
                <li><a href="/reviews/">Отзывы</a></li>
                <li><a href="/reviews/">Пользовательское соглашение</a></li>
                <li><a href="/reviews/">Гарантии</a></li>
                <li><a href="/reviews/">Возврат товара</a></li>
                <ul>
        </div>

        <div class="footer_contacts">
            <div class="telegram">Telegram:<span>@EyeSupport_bot</span></div>
            <div class="telegram">Email:<span>EyeSupport@gmail.com</span></div>
        </div>

        <div class="footer_cent">
            <p>Все права защищены. Копирование запрещено!</p>
        </div>

    </div>
</footer>
</body>
</html>
