<footer>
    <div class="footer_content">
        <div class="footer_logo">
            <img src="/img/logo.webp" alt="">
            <span>EyeAccounts</span>

        </div>

        <div class="footer_menu">
            <ul>
                <li><a href="/reviews/">Пользовательское соглашение</a></li>
                <li><a href="/reviews/">Гарантии</a></li>
                <li><a href="/reviews/">Возврат товара</a></li>
            </ul>
        </div>

        <div class="footer_contacts">
            <a class="footer_contacts__item" href="https://telegram.me/EyeSupport_bot"><img src="/img/icons/telegram-icon.png" alt=""><span>@EyeSupport_bot</span></a>
            <a class="footer_contacts__item" href="mailto:EyeSupport@gmail.com"><img src="/img/icons/mail-icon.png" alt=""><span>EyeSupport@gmail.com</span></a>
        </div>

        <div class="footer_cent">
            <p>Все права защищены. Копирование запрещено!</p>
        </div>

    </div>
</footer>
</body>

</html>