<!--C наш, сущий в памяти!
да компилируется код Твой;
да приидет царствие Софта Твоего;
да будут действительны указатели Твои
и в ОЗУ, как на жестком диске;
массив наш насущный подавай нам на каждый день;
и прости нам варнинги наши,
как и мы избавляемся от ошибок наших;
и не введи нас в бесконечный цикл,
но избавь нас от винды.
Ибо Твое есть Царство и сила и слава во веки.
Энтер.-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EyeAccounts - аккаунты телеграм и тд</title>
    <meta name="description" content="EyeAccounts - аккаунты телеграм, фейсбук, инстаграм и тд. (TDATA, сессии, отлежка, рассылка, спам, накрутка)">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
    <script src="../js/front.js" defer></script>

    <meta name="google-site-verification" content="zDoMH25ZwhflY6g2YGiVP4bVGuDiAajlaKaaic-97Ww" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QKV9N96HXE" defer></script>
    <script defer>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-QKV9N96HXE');
    </script>
</head>

<body>
    <header>
        <nav>
            <a class="logo" href="/">
                <img src="../img/logo.webp" alt="Маркетплейс аккаунтов EyeAccounts">
                <div class="logo__text">EyeAccounts</div>
            </a>

            <div class="navbar__menu">
                <div class="navbar__menu-wide">
                    <a href="/">Главная</a>

                </div>
                <div class="user-profile">
                    <a href="/userAccount">
                        <img class="user-img" src="../img/default-avatar.jpeg" />
                    </a>

                </div>
            </div>
            <div class="navbar__menu-mob">
                <img src="../img/icons/burger.png" alt="">
                <div class="menu-mob hide">
                    <div class="menu-mob_close">
                        Вернуться
                    </div>
                    <a href="/">Главная</a>
                    <a href="/userAccount">Личный кабинет</a>
                </div>
            </div>
            </div>
        </nav>
    </header>