<%- include('./header'); %>
    <article class="article">
        <h2>Пользовательское соглашение</h2>
        <b> 1. Условия использования сайта</b>
        <p>1.1. Данное пользовательское соглашение (именуемое в дальнейшем Соглашение) представляет собой оферту условий по пользованию веб-сайтом <a href="https://eyeaccounts.store">https://eyeaccounts.store</a> (далее – Сайт), в лице Администрации сайта
            и физическим лицом (в том числе представителями юридических лиц) (именуемым в дальнейшем Пользователь), и регламентирующее условия предоставления Пользователем информации для размещения на Сайте. <br> 1.2. Пользователем Сайта считается любое
            физическое лицо, когда-либо осуществившее доступ к Сайту, достигшее возраста, допустимого для акцепта настоящего Соглашения. <br> 1.3. Пользователь обязан полностью ознакомиться с настоящим Соглашением до момента регистрации на Сайте. Регистрация
            Пользователя на Сайте означает полное и безоговорочное принятие Пользователем настоящего Соглашения. В случае несогласия с условиями Соглашения, использование Сайта Пользователем должно быть немедленно прекращено. <br> 1.4. Настоящее Соглашение
            может быть изменено и/или дополнено Администрацией Сайта в одностороннем порядке без какого-либо специального уведомления. Настоящие Правила являются открытым и общедоступным документом. <br> 1.5. Соглашение предусматривает взаимные права
            и обязанности Пользователя и Администрации Сайта.
        </p>
        <b> 2. Порядок использования Сайта</b>
        <p> 2.1. При
            регистрации на сайте и оформлении заказов, Пользователь соглашается предоставить достоверную и точную информацию о себе и своих контактных данных. <br> 2.2. В процессе регистрации на сайте, Пользователь получает логин и пароль за безопасность,
            которых несет персональную ответственность. <br> 2.3. Пользователь может обращаться к Администрации сайта с вопросами, претензиями, пожеланиями по улучшению работы, либо с какой-либо иной информацией. При этом Пользователь несет ответственность,
            что данное обращение не является незаконным, угрожающим, нарушает авторские права, дискриминацию людей по какому-либо признаку, а также содержит оскорбления либо иным образом нарушает действующее законодательство.
        </p>
        <b>3. Персональная информация Пользователя</b>
        <p> 3.1. Администрация сайта с уважением и ответственностью относится к конфиденциальной информации любого лица, ставшего посетителем этого сайта. Принимая это Соглашение Пользователь дает согласие на сбор, обработку и использование определенной информации
            о Пользователе в соответствии с положениями Закона Украины «О защите персональных данных» и Правилах Администрации сайта о защите персональных данных. Кроме того, пользователь дает согласие, что Администрация сайта может собирать, использовать,
            передавать, обрабатывать и поддерживать информацию, связанную с аккаунтом Пользователя с целью предоставления соответственных услуг. <br> 3.2. Администрация сайта обязуется осуществлять сбор только той персональной информации, которую Потребитель
            предоставляет добровольно в случае, когда информация нужна для предоставления (улучшения) услуг Потребителю. <br> 3.3. Администрация сайта собирает как основные персональные данные, такие как имя, фамилия, отчество, адрес и электронный адрес,
            так и вторичные (технические) данные - файлы cookies, информация о соединениях и системная информация. <br> 3.4. Пользователь соглашается с тем, что конфиденциальность переданных через Интернет данных не гарантирована в случае, если доступ
            к этим данным получен третьими лицами вне зоны технический средств связи, подвластных Администрации сайта, Администрация сайта не несет ответственности за ущерб, нанесенный таким доступом. <br> 3.5. Администрация сайта может использовать любую
            собранную через Сайт информацию с целью улучшения содержания интернет-сайта, его доработки, передачи информации Пользователю (по запросам), для маркетинговых или исследовательских целей, а также для других целей, не противоречащим положениям
            действующего законодательства. </p>
         
        <b> 4. Ограничение ответственности Администрации сайта</b>
        <p> 4.1. Администрация сайта не несет никакой ответственности за любые ошибки, опечатки и неточности, которые могут быть обнаружены в материалах, содержащихся на данном Сайте. Администрация сайта прикладывает все необходимые усилия, чтобы обеспечить
            точность и достоверность представляемой на Сайте информации. <br> 4.2. Администрация сайта не несет ответственности за утерю Пользователем возможности доступа к своему аккаунту — учетной записи на Сайте. <br> 4.3. Администрация сайта не несет ответственности за неполное,
            неточное, некорректное указание Пользователем своих данных при создании учетной записи Пользователя. <br> 4.4. При возникновении проблем в использовании Сайта, несогласия с конкретными разделами Пользовательского соглашения, либо получении
            Пользователем недостоверной информации от третьих лиц, либо информации оскорбительного характера, любой иной неприемлемой информации, пожалуйста, обратитесь к администрации Сайта для того, чтобы Администрация сайта могла проанализировать и
            устранить соответствующие дефекты, ограничить и предотвратить поступление на Сайт нежелательной информации, а также, при необходимости, ограничить либо прекратить обязательства по предоставлению своих услуг любому Пользователю и клиенту, умышленно
            нарушающему предписания Соглашения и функционирование работы Сайта. 
        </p>
        <b>5. Порядок действия Соглашения</b>
        <p> 5.1. Настоящее Соглашение является договором. Администрация сайта оставляет за собой право как изменить настоящее Соглашение, так и ввести новое. Подобные изменения вступают в силу с момента их размещения на Сайте. Использование Пользователем
            материалов сайта после изменения Соглашения автоматически означает их принятие. <br> 5.2. Данное Соглашение вступает в силу при первом посещении Сайта Пользователем и действует между Пользователем и Компанией на протяжении всего периода использования
            Пользователем Сайта. <br> 5.3. Сайт является объектом права интеллектуальной собственности Администрации сайта. Все исключительные имущественные авторские права на сайт принадлежат Администрации сайта. Использование сайта Пользователями возможно
            строго в рамках Соглашения о правах интеллектуальной собственности. <br> 5.4. Все торговые марки и названия, на которые даются ссылки в материалах настоящего Cайта, являются собственностью их соответствующих владельцев.
            <br> 5.5. Пользователь соглашается не воспроизводить, не повторять, не копировать, какие-либо части Сайта, кроме тех случаев, когда такое разрешение дано Пользователю Администрацией сайта. </p>

    </article>

    <%- include('./footer'); %>