<%- include('./header'); %>
    <article class="private-policy">
        <h2>Пользовательское соглашение</h2>
        <b> 1. Условия использования сайта</b>
        <p>1.1. Данное пользовательское соглашение (именуемое в дальнейшем Соглашение) представляет собой оферту условий по пользованию веб-сайтом <a href="https://eyeaccounts.store">https://eyeaccounts.store</a> (далее – Сайт), в лице Администрации сайта
            и физическим лицом (в том числе представителями юридических лиц) (именуемым в дальнейшем Пользователь), и регламентирующее условия предоставления Пользователем информации для размещения на Сайте. <br> 1.2. Пользователем Сайта считается любое
            физическое лицо, когда-либо осуществившее доступ к Сайту, достигшее возраста, допустимого для акцепта настоящего Соглашения. <br> 1.3. Пользователь обязан полностью ознакомиться с настоящим Соглашением до момента регистрации на Сайте. Регистрация
            Пользователя на Сайте означает полное и безоговорочное принятие Пользователем настоящего Соглашения. В случае несогласия с условиями Соглашения, использование Сайта Пользователем должно быть немедленно прекращено. <br> 1.4. Настоящее Соглашение
            может быть изменено и/или дополнено Администрацией Сайта в одностороннем порядке без какого-либо специального уведомления. Настоящие Правила являются открытым и общедоступным документом. <br> 1.5. Соглашение предусматривает взаимные права
            и обязанности Пользователя и Администрации Сайта.
        </p>
        <b> 2. Порядок использования Сайта</b>
        <p>2.1. Сайт позволяет Пользователю просматривать и загружать информацию с сайта исключительно для личного некоммерческого использования. Запрещается изменять материалы сайта, распространять для общественных или коммерческих целей. <br> 2.2. При
            регистрации на сайте и оформлении заказов, Пользователь соглашается предоставить достоверную и точную информацию о себе и своих контактных данных. <br> 2.3. В процессе регистрации на сайте, Пользователь получает логин и пароль за безопасность,
            которых несет персональную ответственность. <br> 2.4. Пользователь может обращаться к Администрации сайта с вопросами, претензиями, пожеланиями по улучшению работы, либо с какой-либо иной информацией. При этом Пользователь несет ответственность,
            что данное обращение не является незаконным, угрожающим, нарушает авторские права, дискриминацию людей по какому-либо признаку, а также содержит оскорбления либо иным образом нарушает действующее законодательство Украины.
        </p>
        <b>3. Персональная информация Пользователя</b>
        <p> 3.1. Администрация сайта с уважением и ответственностью относится к конфиденциальной информации любого лица, ставшего посетителем этого сайта. Принимая это Соглашение Пользователь дает согласие на сбор, обработку и использование определенной информации
            о Пользователе в соответствии с положениями Закона Украины «О защите персональных данных» и Правилах Администрации сайта о защите персональных данных. Кроме того, пользователь дает согласие, что Администрация сайта может собирать, использовать,
            передавать, обрабатывать и поддерживать информацию, связанную с аккаунтом Пользователя с целью предоставления соответственных услуг. <br> 3.2. Администрация сайта обязуется осуществлять сбор только той персональной информации, которую Потребитель
            предоставляет добровольно в случае, когда информация нужна для предоставления (улучшения) услуг Потребителю. <br> 3.3. Администрация сайта собирает как основные персональные данные, такие как имя, фамилия, отчество, адрес и электронный адрес,
            так и вторичные (технические) данные - файлы cookies, информация о соединениях и системная информация. <br> 3.4. Пользователь соглашается с тем, что конфиденциальность переданных через Интернет данных не гарантирована в случае, если доступ
            к этим данным получен третьими лицами вне зоны технический средств связи, подвластных Администрации сайта, Администрация сайта не несет ответственности за ущерб, нанесенный таким доступом. <br> 3.5. Администрация сайта может использовать любую
            собранную через Сайт информацию с целью улучшения содержания интернет-сайта, его доработки, передачи информации Пользователю (по запросам), для маркетинговых или исследовательских целей, а также для других целей, не противоречащим положениям
            действующего законодательства Украины. </p>
        <b>4. На Сайте запрещены:</b>
        <p>4.1. Призывы к насильственному изменению или свержению конституционного строя или к захвату государственной власти; призывы к изменению административных границ или государственной границы Украины, нарушению порядка, установленного Конституцией
            Украины; призывы к погромам, поджогам, уничтожению имущества, захвату зданий или сооружений, насильственному выселению граждан; призывы к агрессии или к развязыванию военного конфликта. <br> 4.2. Прямые и косвенные оскорбления кого-либо, в
            частности политиков, чиновников, журналистов, пользователей ресурса, в том числе по национальной, этнической, расовой или религиозной принадлежности, а также шовинистические высказывания. <br> 4.3. Нецензурные высказывания, высказывания порнографического,
            эротического или сексуального характера. <br> 4.4. Любое оскорбительное поведение по отношению к авторам статей и всем участникам ресурса. <br> 4.5. Высказывания, целью которых есть намеренное провоцирование резкой реакции других участников
            ресурса.
            <br> 4.6. Реклама, коммерческие сообщения, а также сообщения, которые не имеют информационной нагрузки и не касаются тематики ресурса, если на такую рекламу или сообщение не получено специального разрешения от Администрации сайта. <br> 4.7.
            Любые сообщения и прочие действия, которые запрещены законодательством Украины. <br> 4.8. Выдача себя за другого человека или представителя организации и/или сообщества без достаточных на то прав, в том числе за сотрудников и владельцев Сайта,
            а также введения в заблуждение относительно свойств и характеристик каких-либо субъектов или объектов. <br> 4.9. Размещение материалов, которые Пользователь не имеет права делать доступными по закону или согласно каким-либо контрактным отношениям,
            а также материалов, которые нарушают права на какой-либо патент, торговую марку, коммерческую тайну, копирайт или прочие права собственности и/или авторские и смежные с ним права третьей стороны. <br> 4.10. Размещение не разрешенной специальным
            образом рекламной информации, спама, схем "пирамид", "писем счастья"; материалов, содержащих компьютерные коды, предназначенные для нарушения, уничтожения либо ограничения функциональности любого компьютерного или телекоммуникационного оборудования
            или программ, для осуществления несанкционированного доступа, а также серийные номера к коммерческим программным продуктам, логины, пароли и прочие средства для получения несанкционированного доступа к платным ресурсам в Интернет. <br> 4.11.
            Нарочное или случайное нарушения каких-либо применимых местных, государственных или международных нормативно – правовых актов.</p>
        <b> 5. Ограничение ответственности Администрации сайта</b>
        <p> 5.1. Администрация сайта не несет никакой ответственности за любые ошибки, опечатки и неточности, которые могут быть обнаружены в материалах, содержащихся на данном Сайте. Администрация сайта прикладывает все необходимые усилия, чтобы обеспечить
            точность и достоверность представляемой на Сайте информации. <br> 5.2. Информация на Сайте постоянно обновляется и в любой момент может стать устаревшей. Администрация сайта не несет ответственности за получение устаревшей информации с Сайта,
            а также за неспособность Пользователя получить обновления хранящейся на Сайте информации. <br> 5.3. Администрация сайта не несет никакой ответственности за высказывания и мнения посетителей сайта, оставленные в качестве комментариев или обзоров.
            Мнение Администрация сайта может не совпадать с мнением и позицией авторов обзоров и комментариев. В то же время Администрация сайта принимает все возможные меры, чтобы не допускать публикацию сообщений, нарушающих действующее законодательство
            или нормы морали. <br> 5.4. Администрация сайта не несет ответственности за возможные противоправные действия Пользователя относительно третьих лиц, либо третьих лиц относительно Пользователя. <br> 5.5. Администрация сайта не несет ответственности
            за высказывания Пользователя, произведенные или опубликованные на Сайте. <br> 5.6. Администрация сайта не несет ответственности за ущерб, убытки или расходы (реальные либо возможные), возникшие в связи с настоящим Сайтом, его использованием
            или невозможностью использования. <br> 5.7. Администрация сайта не несет ответственности за утерю Пользователем возможности доступа к своему аккаунту — учетной записи на Сайте. <br> 5.8. Администрация сайта не несет ответственности за неполное,
            неточное, некорректное указание Пользователем своих данных при создании учетной записи Пользователя. <br> 5.9. При возникновении проблем в использовании Сайта, несогласия с конкретными разделами Пользовательского соглашения, либо получении
            Пользователем недостоверной информации от третьих лиц, либо информации оскорбительного характера, любой иной неприемлемой информации, пожалуйста, обратитесь к администрации Сайта для того, чтобы Администрация сайта могла проанализировать и
            устранить соответствующие дефекты, ограничить и предотвратить поступление на Сайт нежелательной информации, а также, при необходимости, ограничить либо прекратить обязательства по предоставлению своих услуг любому Пользователю и клиенту, умышленно
            нарушающему предписания Соглашения и функционирование работы Сайта. <br> 5.10. В целях вышеизложенного Администрация сайта оставляет за собой право удалять размещенную на Сайте информацию и предпринимать технические и юридические меры для
            прекращения доступа к Сайту Пользователей, создающих согласно заключению Администрация сайта, проблемы в использовании Сайта другими Пользователями, или Пользователей, нарушающих требования Соглашения.
        </p>
        <b>6. Порядок действия Соглашения</b>
        <p> 6.1. Настоящее Соглашение является договором. Администрация сайта оставляет за собой право как изменить настоящее Соглашение, так и ввести новое. Подобные изменения вступают в силу с момента их размещения на Сайте. Использование Пользователем
            материалов сайта после изменения Соглашения автоматически означает их принятие. <br> 6.2. Данное Соглашение вступает в силу при первом посещении Сайта Пользователем и действует между Пользователем и Компанией на протяжении всего периода использования
            Пользователем Сайта. <br> 6.3. Сайт является объектом права интеллектуальной собственности Администрации сайта. Все исключительные имущественные авторские права на сайт принадлежат Администрации сайта. Использование сайта Пользователями возможно
            строго в рамках Соглашения и законодательства Украины о правах интеллектуальной собственности. <br> 6.4. Все торговые марки и названия, на которые даются ссылки в материалах настоящего Cайта, являются собственностью их соответствующих владельцев.
            <br> 6.5. Пользователь соглашается не воспроизводить, не повторять, не копировать, какие-либо части Сайта, кроме тех случаев, когда такое разрешение дано Пользователю Администрацией сайта. <br> 6.6. Настоящее Соглашение регулируется и толкуется
            в соответствии с законодательством Украины. Вопросы, не урегулированные Соглашением, подлежат разрешению в соответствии с законодательством Украины. Защита персональных данных Уважаемый Пользователь, регистрируясь на нашем сайте или используя
            различные сервисы нашего сайта, которые требуют ввода Ваших личных данных, Вы даёте согласие на обработку своих персональных данных согласно Закону Украины «О защите персональных данных», а также согласованным и утвержденным Правилам. Администрация
            сайта оставляет за собой право на использование данной информации в маркетинговых целях в рамках предоставления услуг. Cогласованные и утвержденные Правила согласно Закону Украины «О защите персональных данных» Пользователь, регистрируясь
            на сайте <a href="https://eyeaccounts.store">https://eyeaccounts.store</a> (далее – «Сайт»), в том числе, создавая свой аккаунт и/или регистрируясь в качестве пользователя каких-либо сервисов Сайта, в случае осуществления соответствующих действий
            под собственным и действительным (а не выдуманным) именем, дает свое согласие собственнику Сайта на обработку персональных данных Пользователя (ФИО, пол, возраст, местожительства, дата и место рождения, контактных данных в случае предоставления
            такой информации и при условии, что такая информация является правдивой и действительной). Пользователь дает согласие собственнику Сайта на осуществление действий в информационной (автоматизированной) системе и/или в картотеках персональных
            данных, которые связаны со сбором, регистрацией, накоплением, хранением, адаптированием, изменением, обновлением, использованием и распространением (реализацией, передачей), обезличением, уничтожением соответствующих персональных данных и
            ведомостей о Пользователе – физическом лице. Пользователь также дает собственнику Сайта право определять на собственное усмотрение порядок использования персональных данных Пользователя (в том числе порядок использования персональных данных
            работниками собственника Сайта в соответствии с их профессиональными или служебными, или трудовыми обязанностями), порядок защиты, распространения, порядок доступа к базам данных и порядок передачи права обработки персональных данных другими
            субъектами отношений, связанных с персональными данными. Пользователь предоставляет указанные права собственнику Сайта с целью соблюдения последним требований действующего законодательства о защите персональных данных.</p>

    </article>

    <%- include('./footer'); %>