<%- include('./header'); %>
    <article class="private-policy">
        <h2>Возврат товара</h2>
        <p>По правилам интернет-маркетплейса аккаунтов Eyeaccounts, мы можем вернуть деньги за купленный товар, если он вас не устроил в течении 14 дней после покупки. Только при условии если <b>товар не использовался или его товарный вид сохранён.</b> </p>
        <p>Для этого обратитесь в нашу поддержку:</p>
        <a class="private-policy-link" href="https://t.me/EyeSupportBot"><b>Telegram: </b> <span> @EyeSupportBot</span></a>
        <a class="private-policy-link" style="padding: 10px" href="mailto:eyeshopassist@gmail.com"><b>Mail: </b> <span> eyeshopassist@gmail.com</span></a>
    </article>

    <%- include('./footer'); %>