<%- include('./header'); %>
    <div style="text-align: center;">
        <h1>Оплата произведена успешно</h1>
        <p>На почту которую вы указали придут данные от приобретённых аккаунтов</p>
        <a class="purple-btn" href="/" style="max-width: fit-content; margin: 20px auto">Вернутся на главную</a>
    </div>
    <%- include('./footer'); %>