$btn-purple: #512288;
$btn-purple-active: #7425ce;
$links_green: #88c35a;
$links_active_green: #94e05b;
$purple-bg: #1e0d31;
$purple-bg-hovered: #26113f;
$btn-gradient: linear-gradient(360deg, #4700c5, #8104c0);
$btn-gradient-active: linear-gradient(360deg, #5203da, #9204da);